@import url(common.css);


body 
{
  margin:0;
  background:#222;
  color:#000;
  text-align:center;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0.25in;
  margin-bottom:0.25in;
  }


div.whitePage
{  
  background:#fff;
  border: 4px solid #555;
  border-bottom: 4px solid #555;
  padding:0.25in;
  }


div.footer
{ 
  color:#AAA;
  margin-top:0.125in;
  margin-bottom:0.125in;
 }


/* footer font color not passing into table cells in some browsers */
div.footer td
{   
  color:#AAA;
  }


div.footer a { 
  color:#BBB;
 }




div.topbar 
{
  margin-top:0.125in;
  border-top:#444 solid 2px;
  border-bottom:#444 solid 2px;
  padding:10px;
  }


td.followLinks 
{
  text-align:left;
  line-height:1.5;
  }


td.searchBox 
{
  text-align:right;
  }




div.contentBody 
{ 
  margin:0.25in;
  margin-top:0.5in;
  }












form 
{
  margin:0;
  padding:0;
  }

input 
{
  background:#fff;
  border:#444 solid 2px;
  font-family: monospace;
  }

input[type="Submit"] 
{
  background:#fff;
  border:#444 solid 2px;
  font-family: serif;
  }

textarea 
{
  background:#fff;
  border:#444 solid 2px;
  font-family: monospace;
  }


img 
{
  border:0;
  margin:2;
  vertical-align:middle;
  }




a:hover 
{
  text-decoration:underline; 
  }
