body 
{
  margin:0;
  background:#222;
  color:#000;
  //font-size: 62.5%; /* Resets 1em to 10px */
  //font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
  text-align:center;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0.25in;
  margin-bottom:0.25in;
  }

div.whitePage
{  
  background:#fff;
  border-top: 4px solid #555;
  border-bottom: 4px solid #555;
  }


div.topbar 
{
  margin:0.25in;
  border-top:#444 solid 2px;
  border-bottom:#444 solid 2px;
  padding:10px;
  }

td.followLinks 
{
  text-align:left;
  line-height:1.5;
  }


td.searchBox 
{
  text-align:right;
  }




div.contentBody 
{ 
  margin-top:10px;
  margin-left:0.5in;
  margin-right:0.5in;
  }







div.postBlock
{ 
  margin-top:20px;
  }


div.postHeadline
{ 
  font-size:200%;
  text-align:left;
  }



div.postTextBlock
{ 
  text-align:left;
  border-top:#444 solid 2px;
  padding-top:2px;
  }


div.storySeparator
{
  height:75px;
  }






div.commentsHeading
{ 
  margin-top:50px;
  font-size:200%;
  text-align:left;
  border-bottom:#444 solid 2px;
  
 }


div.comments
{ 
  margin-left:20px;
  margin-top:20px;
  }



div.comments div.postTextBlock
{ 
  text-align:left;
  border-left:#444 solid 2px;
  padding-left:10px;
  }



div.comments div.storySeparator
{
  height:50px;
  }




form 
{
  margin:0;
  padding:0;
  }

input 
{
  background:#fff;
  border:#444 solid 2px;
  font-family: monospace;
  }

input[type="Submit"] 
{
  background:#fff;
  border:#444 solid 2px;
  font-family: serif;
  }

textarea 
{
  background:#fff;
  border:#444 solid 2px;
  font-family: monospace;
  }


img 
{
  border:0;
  margin:2;
  vertical-align:middle;
  }


a 
{ 
  //color:#262;
  font-weight:bolder;
  color:#000;
  text-decoration:none;
  }


a:hover 
{
  text-decoration:underline; 
  }
